<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Patronus</th>
        <th scope="col">Age</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of information; index as i">
      <tr>
        <th scope="row">{{i + 1}}</th>
        <td>{{item.name}}</td>
        <td>{{item.patronus}}</td>
        <td>{{item.age}}</td>
        <td><img class="photo" src="{{item.image}}" alt="ejemplo"></td>
      </tr>
    </ng-container>
    </tbody>
  </table>
